@charset "utf-8";

.navBarSearch {
    background-color: black;
    color: white;
}

.listNavBar { 
    background-image: url(../../img/cinema-4213751_1920.jpg);
    padding: 15%;
    text-align: center;
}

.items {
    flex-wrap: wrap;
    padding-top: .5rem;
    padding-bottom: .5rem;
    position: absolute;
    top: 25px;
    right: 0;
    left: 0;
    z-index: 1030;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}


.searchTab {
    margin-right: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.search {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    border: 0;

}

/* Cor de fundo do autocomplete */
input:-webkit-autofill {
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0) inset;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
    -webkit-text-fill-color: black;
}

.list {
    display: flex;
    flex-wrap: wrap;
}
