@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


.body {
    background: url(../../img/cinema-4213751_1920.jpg);
    background-repeat: no-repeat;
    min-height: 98vh;
    min-width: 98vw;

}

.titulo {
    text-align: center;
    color: #7600a9;
    margin-top: 20px;
}

.main_content {
    margin: 12%;
}

.conteudo {
    background: #363636;
    max-width: 500px;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.palavras {
    margin-top: 1rem;
    color: #7600a9
}

hr {
    background-color: #7600a9;
}

.button {
    margin-top: 10px;
    text-align: center;
    background-color: #8f00cc;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase!important;
}