@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.body {
    background: url(../../img/cinema-4213751_1920.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;

}

.titulo {
    text-align: center;
    color: #7600a9;
    margin-top: 20px;
    max-width: 500px;
}

.conteudo {
    background: #363636;
    max-width: 500px;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.palavras {
    color: #7600a9
}