@charset "utf-8";

.principalPage {
    margin: 0;
    background-image: url(../../img/admission-2974645_1920.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginButton {
    font-size: 18px;
    background-color: #8f00cc;
    border-radius: 4px;
    border: none;
    padding: 8px 15px;
    color: white;

}

.homeNavBar {
    flex-wrap: wrap;
    padding-top: .5rem;
    padding-bottom: .5rem;
    position: absolute;
    top: 25px;
    right: 0;
    left: 0;
    z-index: 1030;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.loginButton:hover {
    background-color: #7600a9;
}


.registerButton {
    text-align: center;
    display: inline-flex;
    background-color: #8f00cc;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase!important;
}

a {
    text-decoration: none;
}

.registerButton:hover {
    background-color: #7600a9;
}

.initialSection {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

hr {
    opacity: 100%;
}

.secondSection, .thirdSection, .fourSection {
    padding: 15%;
    background-color: black;
    color: white;
    text-align: center;
    
}

.informationSection {
    padding: 10%;
    background-color: #272727;
}



    