@charset "utf-8";

.Card {
  text-align: center;
  box-sizing: border-box;
  background-color: black;
  color: white;
  width: 25%;
  float: left;
  list-style: none;
  margin-left: 0;
  justify-content: center;
}

.transition img {
  width: 50%; 
  height: 50%;
  opacity: 80%;
  transition: width 2s, height 2s;;
}

.transition img:hover {
  width: 80%;
  height: 80%;
  opacity: 100%;
}

.words {
  display: none;
}

.transition:hover .words {
  color: white;
  font-size: 1rem;
  display: block;
}