@charset "utf-8";

*{
  margin:0;
  padding:0;
  border:0;
}

.Card {
  text-align: center;
  box-sizing: border-box;
  background-color: black;
  color: white;
  width: 100%;
  list-style: none;
  margin: 0 15px;
  justify-content: center;
}

.Card img {
  cursor: pointer;
  border: solid;
  border-color:#8f00cc;
  margin-left: 30px;
}

.Card img:hover {
  border-color: #5800aa;
}

.Button {
  color: #fff;
  background-color: #8f00cc;
  border-color: #8f00cc;
}

.Button:hover {
  background-color: #7600a9;
  border-color: #7600a9;
}

.modal_footer {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}




